<header class="ae-container-fluid ae-container-fluid--full rk-header ">
  <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
  <label for="mobile-menu">
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
  </label>
  <div class="ae-container-fluid rk-topbar">
    <h1 class="rk-logo">
	<a routerLink="home">{{ _servicio.info.titulo }}</a></h1>
    <nav class="rk-navigation">
      <ul class="rk-menu">
        <li routerLinkActive="" class="rk-menu__item">
          <a routerLink="" class="rk-menu__link">Home</a>
        </li>
        <li routerLinkActive="active" class="rk-menu__item">
          <a routerLink="item/prod-1" class="rk-menu__link">{{_servicio.info.portafolio}}</a>
        </li>
        <li routerLinkActive="active" class="rk-menu__item">
          <a href="https://oscardev.wordpress.com/" target="_blank" class="rk-menu__link">Blog</a>
        </li>
        <li routerLinkActive="active" class="rk-menu__item">
          <a href="#0" class="rk-menu__link">{{_servicio.info.mas}}</a>
          <nav class="rk-menu__sub">
            <ul class="rk-container">
              <li class="rk-menu__item"><a routerLink="about" class="rk-menu__link">{{_servicio.info.sobre_mi}}</a></li>
              <li class="rk-menu__item"><a href="https://github.com/oscardo/" target="_blank" class="rk-menu__link">{{_servicio.info.mis_proyectos}}</a></li>
              <li class="rk-menu__item"><a href="/src/app/archivos/CVOscarOrtiz.pdf" target="_blank" class="rk-menu__link">{{_servicio.info.hoja_vida}}</a></li>
            </ul> 
          </nav>
        </li>
        <li class="rk-menu__item">
          <a routerLink="contacto" class="rk-menu__link">{{_servicio.info.contacto}}</a>
        </li>
      </ul>
      <div class="rk-search">
        <input type="text" 
        (keyup.enter)="buscarProducto( txtBuscar.value )"
        placeholder="Buscar..." 
        id="urku-search"
        class="rk-search-field"
        #txtBuscar
        >
        <label for="urku-search">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-search"></use>
          </svg>
        </label>
      </div>
    </nav>
  </div>
</header>
