<div class="ae-container-fluid ae-container-fluid--inner rk-main">
    <div class="ae-grid">
      <div class="ae-grid__item item-lg-6 item-lg--offset-7">
        <h4 class="ae-u-bolder au-mb-3 conatct__title">{{_servicioContacto.contacto_info.contacto}}</h4>
        <p class="au-mb-4 contact__desc"><a href="#contact-form">{{_servicioContacto.contacto_info.mensaje_bienvenida}}</a></p>
      </div>
    </div>
    <div class="ae-grid">
      <div class="ae-grid__item item-lg-6">
        <div id="map-container">
          <div id="map"></div>
        </div>
      </div>
      <div class="ae-grid__item item-lg-6">
        <div class="ae-grid ae-grid--collapse">
          <div class="ae-grid__item item-lg-2 au-v-hidden au-lg-v-visible">
            <button id="map-arrow" class="arrow-button arrow-button--nospace arrow-button--center arrow-button--flip">
              <svg>
                <use xlink:href="assets/img/symbols.svg#arrow"></use>
              </svg>
            </button>
          </div>
          <div class="ae-grid__item item-lg-10 au-xs-ta-center au-lg-ta-left">
            <p class="au-mb-4 contact__addr">{{_servicioContacto.contacto_info.direccion}}<br>{{_servicioContacto.contacto_info.ciudad}}, {{_servicioContacto.contacto_info.departamento}}<br>{{_servicioContacto.contacto_info.pais}}</p>
            <p> <span class="contact__phone"> <span class="rk-light-color">{{_servicioContacto.contacto_info.telefono}}</span>{{_servicioContacto.contacto_info.telefono_nro}}</span><br><span class="contact__email au-block au-truncate"> <span class="rk-light-color">{{_servicioContacto.contacto_info.correo}} &nbsp;&nbsp; </span><a href="#0">{{_servicioContacto.contacto_info.correo_oscardo}}</a></span></p>
          </div>
          <div class="contact_spacer au-none au-lg-block"></div>
        </div>
        <div class="ae-grid ae-grid--collapse">
          <div class="ae-grid__item item-lg-12">
            <div id="contact-form" action="#0" class="ae-form--full">
              <input type="text" placeholder="* {{_servicioContacto.contacto_info.form_nombre}}" required>
              <input type="email" placeholder="* {{_servicioContacto.contacto_info.form_correo}}" required>
              <textarea placeholder="{{_servicioContacto.contacto_info.form_mensaje}} ..." cols="30" rows="4"></textarea>
              <p class="au-xs-ta-right au-pt-4 group-buttons"><a href="#0" class="arrow-button arrow-button--right arrow-button--out">{{_servicioContacto.contacto_info.form_enviar}}<span class="arrow-cont">
                    <svg>
                      <use xlink:href="assets/img/symbols.svg#arrow"></use>
                    </svg></span></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>