<footer class="ae-container-fluid rk-footer ">
  <div class="ae-grid ae-grid--collapse">
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
      <ul class="rk-menu rk-footer-menu">
        <li class="rk-menu__item"><a routerLink="about" class="rk-menu__link">{{_servicio.info.sobre_mi}}</a>
        </li>
        <li class="rk-menu__item"><a href="documentation.html" class="rk-menu__link">Docs</a>
        </li>
        <li class="rk-menu__item"><a routerLink="contacto" class="rk-menu__link">{{_servicio.info.contacto}}</a>
        </li>
      </ul>
      <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">©All Right Reserved.</span><span class="ae-u-bolder">Oscardo 1983 - {{annio}}</span></p>
    </div>
    
    <div class="ae-grid__item item-lg-4 au-xs-ta-center">
      
      <a target="_blank" [href]="_servicio.info.facebook" class="rk-social-btn ">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
        </svg>
      </a>
      <a target="_blank" href="{{_servicio.info.twitter}}" class="rk-social-btn ">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
        </svg>
      </a>
      <a target="_blank" [href]="_servicio.info.linkedin" class="rk-social-btn ">
        <svg>
          <!-- <use xlink:href="assets/img/linkedin.svg"></use>  -->
           <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
            <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
          </svg> 
        </svg>
      </a>
        <a target="_blank"  [href]="_servicio.info.instagram" class="rk-social-btn ">
        <svg>
          <use xlink:href="assets/img/instagram.svg"></use>
        </svg>
        </a>
      </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
      <p class="rk-footer__text rk-footer__contact "> <span class="ae-u-bold">Email: </span><span class="ae-u-bolder"> <a href="mailto:{{_servicio.info.email}}" class="rk-dark-color ">{{_servicio.info.email}}</a></span></p>
      <p class="rk-footer__text rk-footer__by">Theme by <a href="http://pixeden.com" class="ae-u-bolder">Pixeden.</a></p>
    </div>

  </div>
</footer>
